*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --txt-color: #212121;
    --green: #09A494;
    --bg-color: #FFFFFF;
}

.dark-theme {
    --txt-color: #CCCCCC;
    --bg-color: #212121;
}

.dark-theme .social-link {
    background-color: var(--txt-color);
}

body {
    font-family: "Open Sans", "Arial", sans-serif;

    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;

    color: var(--txt-color);
    background-color: var(--bg-color);
}

footer {
    color: var(--bg-color);
    background-color: var(--txt-color);
}

section {
    margin-bottom: 120px;
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-family: "Open Sans", "Arial", sans-serif;
    
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;

    margin: 0;
    margin-bottom: 20px;
}

.subtitle {
    font-family: "Open Sans", "Arial", sans-serif;

    font-size: 38px;
    font-weight: 400;
    line-height: 1.2;

    color: var(--green);

    margin: 0;
}

h2 {
    font-family: "Open Sans", "Arial", sans-serif;
    
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;

    margin: 0;
    margin-bottom: 40px;
}

h3 {
    font-family: "Open Sans", "Arial", sans-serif;
    
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}

button {
    font-family: "Open Sans", "Arial", sans-serif;

    font-size: 20px;
    font-weight: 400;
    line-height: 1;

    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    text-transform: lowercase;
    padding-top: 6px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px;
    border-style: solid;
    border-radius: 8px;
    border-color:  var(--green);
    color: var(--green);
    background-color: var(--bg-color);
}

.skills-buttons button:hover {
    color: var(--bg-color);
    background-color: var(--green);
}

a {
    font-family: "Open Sans", "Arial", sans-serif;

    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

.main-nav {
        display: flex;
}

.main-nav a {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--txt-color);
}

.main-nav a:hover {
    color: var(--green);
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    margin: 0;
    padding: 0;
    list-style-type: none;
}
.social li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social-link {
    display: block;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: var(--green);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.social-link:hover {
    background-color: var(--green);
}

.social-link_github {
    background-image: url('../img/social=github.svg');
}

.social-link_telegram {
    background-image: url("../img/social=telegram.svg");
}

.contact {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style-type: none;
}

.contact li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.contact-link {
    display: block;
    padding-left: 42px;
    padding-top: 5px;
    padding-bottom: 5px;

    background-repeat: no-repeat;
    background-position: left;

    text-decoration: none;
    color: var(--txt-color);
    background-color: var(--bg-color);
}

.contact-link:hover {
    color: var(--green);
    background-color: var(--bg-color);
}

.contact-link_phone {
    background-image: url("../img/icon=phone.svg");
}

.dark-theme .contact-link_phone {
    background-image: url("../img/dark-theme/icon=phone.svg");
}

.contact-link_mail {
    background-image: url("../img/icon=email.svg");
}

.dark-theme .contact-link_mail {
    background-image: url("../img/dark-theme/icon=email.svg");
}

.main-photo {
    border-radius: 50%;
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}
.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}
.skill-level {
    margin: 4px 0 20px;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--txt-color);
    border-radius: 16px;
}
.skill-level div {
    height: 14px;
    background-color: var(--green);
    border-radius: 8px;
}
.skill-item {
    text-transform: lowercase;
}

.main-header {
    display: flex;
    padding-top: 60px;
    gap: 40px;
    align-items: center;
    margin-bottom: 120px;
}

.name {
    display: flex;
    align-items: center;
    /* gap: 70px; */
    justify-content: space-between;
}

.text-wrapper {
    max-width: 800px;
}

p {
    margin: 0;
}

p + p {
    margin-top: 15px;
}

.skills-top h2 {
    margin: 0;
}

.skills-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0;
    margin-bottom: 40px;
}

.skills-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.nav-btn {
    display: none;
}

.switch {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 34px;
}
.switch-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
}
.switch-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #CCCCCC;
    cursor: pointer;
    transition: 0.4s;
}
.switch-slider:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    margin: auto 0;
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    background-color: #FFFFFF;
    background-image: url('../img/dark-theme/moon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    transition: 0.4s;
}
.switch-checkbox:checked + .switch-slider:before {
    transform: translateX(24px);
    background-color: #FFFFFF;
    background-image: url('../img/dark-theme/sun.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}


@media screen and (max-width: 1024px) {
    h1 {
        font-size: 50px;
    }
    .subtitle {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    button {
        font-size: 16px;
    }
    a {
        font-size: 16px;
    }
    body {
        font-size: 16px;
    }
    .main-photo {
        width: 250px;
        height: 250px;
    }
    section {
        margin-bottom: 80px;
    }
    .main-header {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 32px;
        margin-bottom: 10px;
    }
    .subtitle {
        font-size: 20px;
    }
    h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    h3 {
        font-size: 16px;
    }
    button {
        font-size: 14px;
    }
    a {
        font-size: 14px;
    }
    body {
        font-size: 14px;
    }
    .main-header img {
        width: 40px;
        height: 40px;
    }
    .main-header {
        flex-direction: column;
        padding-top: 20px;
        gap: 20px;
        margin-bottom: 50px;
    }
    .main-nav {
        flex-direction: column;
    }
    .main-nav a {
        padding: 20px 30px 20px 30px;
        text-align: center;
    }
    .nav-btn {
        display: block;
        width: 30px;
        height: 30px;
        border: none;
    }
    .nav-btn_close {
        background-image: url(../img/menu-btn=close.svg);
        background-color: var(--bg-color);
    }
    .nav-btn_open {
        background-image: url(../img/menu-btn=burger.svg);
        background-color: var(--bg-color);
    }
    .main-header-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .name {
        flex-direction: column-reverse;
        gap: 30px;
        text-align: center;
    }
    .main-photo {
        width: 150px;
        height: 150px;
    }
    .skills-top {
        margin-bottom: 30px;
    }
    .contact {
        margin-bottom: 20px;
    }
    .contact-link {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .main-footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    section {
        margin-bottom: 50px;
    }
    .social {
        gap: 15px;
    }
    .main-nav_closed {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    .skills-top {
        flex-direction: column;
        gap: 20px;
    }
    .skills-buttons {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    button {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .nav-btn {
        display: block;
        width: 30px;
        height: 30px;
    }
    .nav-btn_close {
        background-image: url(../img/menu-btn=close.svg);
    }
    .nav-btn_open {
        background-image: url(../img/menu-btn=burger.svg);
    }
    .main-header-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .contact {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 20px;
    }
}